<a href="https://colab.research.google.com/github/makymaky13/Panda-Slicing/blob/main/Panda_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
# Keep in mind that the filename will likely be different on your computer (especially later in course)

filename = '/content/drive/MyDrive/Pandas/DataSets/bostonHousing1978.csv'

df = pd.read_csv(filename)
df

        RM  LSTAT  PTRATIO  target
0    6.575   4.98     15.3    24.0
1    6.421   9.14     17.8    21.6
2    7.185   4.03     17.8    34.7
3    6.998   2.94     18.7    33.4
4    7.147   5.33     18.7    36.2
..     ...    ...      ...     ...
501  6.593   9.67     21.0    22.4
502  6.120   9.08     21.0    20.6
503  6.976   5.64     21.0    23.9
504  6.794   6.48     21.0    22.0
505  6.030   7.88     21.0    11.9

[506 rows x 4 columns]

In [ ]:
# Select one column using double brackets

df[['RM']].head()

      RM
0  6.575
1  6.421
2  7.185
3  6.998
4  7.147